/* Regular (400) */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
}
/* Medium (500) */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
}
/* Bold (700) */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
}

:root {
  --color-bg: #f6f7f8;
  --color-primary: #2a3647; /* Dark Blue Sidebar */
  --color-primary-contact: rgb(42, 54, 71); /* hel Blue */
  --color-secondary-contact: rgb(9, 25, 49); /* Dark Blue */
  --color-secondary: #29abe2; /* Light Blue Accent */
  --color-text: #000000;
  --color-text-secondary: #a8a8a8;
  --color-bg-hover: #F0F0F0;
  --color-placeholder-primary: #666;
  --color-white: #ffffff;
  --color-error: rgb(230, 0, 38);
  --color-success: #7ae229; /* Green for "Done" or success */
  --color-btn-medium:#ffa800;
  --color-btn-urgent:#ff3d00;
  --color-contact-iocn1:#1FD7C1;
  --color-contact-iocn2:#9747FF;
  --color-contact-iocn3:#0038FF;
  --font-primary: "Inter", sans-serif;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    font-weight: 400; 
}

* {
    box-sizing: border-box;
}

input, textarea, button, select {
    font-family: inherit;
}

.d-none {
    display: none !important;
}
