@media (max-width: 1400px) {
    .main-container {
        padding-left: 340px;
        padding-right: 120px;
    }

    .page-header {
        padding-left: 340px;
        padding-right: 120px;
    }    

    .footer-section{
        padding-top: 20px;
    }
}

@media (max-height: 1600px) {
        .footer-section {
            position: fixed;
            margin-top: 0;
            bottom: 0;
        }

        .footer-container {
            justify-content: space-between;
        }
    }

@media (max-width: 1250px) {
       .trigger{
        font-size: 16px;
        height: 46px;
    }
    .trigger{
        font-size: 16px;
    }
    .trigger.urgent.active {
        font-weight: 600;
    }
    .trigger.medium.active {
        font-weight: 600;
    }
    .trigger.low.active {
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    .main-container {
        padding-left: 340px;
        padding-right: 100px;
    }
    
    .page-header {
        padding-left: 340px;
        padding-right: 100px;
    }

    .form-grid {
        gap: 30px;
    }
    .priority-buttons{
        gap: 5px;
    }
    .trigger.urgent.active {
        font-weight: 600;
    }
    .trigger.medium.active {
        font-weight: 600;
    }
    .trigger.low.active {
        font-weight: 600;
    }
    
}

@media (max-width: 1150px) {
    .trigger{
        font-size: 16px;
    }
}
@media (max-width: 1100px) {
    .trigger{
        font-size: 16px;
    }
    .trigger.urgent.active {
        font-weight: 400;
    }
    .trigger.medium.active {
        font-weight: 400;
    }
    .trigger.low.active {
        font-weight: 400;
    }
}

@media (max-width: 1080px) {
    .trigger{
        font-size: 16px;
    }
    .trigger.urgent.active {
        font-weight: 200;
    }
    .trigger.medium.active {
        font-weight: 200;
    }
    .trigger.low.active {
        font-weight: 200;
    }
}

@media (max-width: 1040px) {
    .page-header {
        margin-bottom: 36px;
        padding-left: 340px;
        padding-right: 100px;
    }

    .page-header h1 {
        font-size: 56px;
        margin: 0;
    }
    
    .main-container {
        padding-left: 340px;
        padding-right: 100px;
        padding-bottom: 100px;
    } 

    .trigger{
        font-size: 16px;
        height: 56px;
    }
    
    .footer-section{
        background: var(--color-bg);
        align-items: center;
        padding-bottom: 24px;
        margin-top: 0;
        bottom: 0;
    }
    
    .footer-container {
        padding-left: 0;
        padding-right: 0;
        justify-content: flex-end;
        padding-right: 100px;
    }
    
    .form-grid {
        grid-template-columns: 1fr;
        gap: 0;
        margin-bottom: 80px;
    }
   
    .column-separator {
        display: none;
    }

    p {
        display: none;
    }
    
    .required-text {
        display: block;
    }
    
    #subtaskList {
        height: auto;
        max-height: 116px;
        overflow-y: auto;
    }
    
    .button-group {
        justify-content: flex-end;
    }

    .footer-section{
        padding-top:0;
    }
}

@media (max-width:850px){
    .page-header {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 36px;
    }
    
    .page-header h1 {
        font-size: 52px;
    }
    
    .main-container {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 164px;
        gap: 16px;
    }

    .footer-section {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 100px;
        margin-bottom: 80px;
    }

    .footer-container {
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        justify-content: flex-end;
    }

    .button-group {
        justify-content: flex-end;
        margin-left: auto;
    }
    
    .form-grid {
        grid-template-columns: 1fr;
        gap: 0;
        padding-right: 0;
        margin-bottom: 80px;
    }
    
    .footer-section {
        background: var(--color-bg);
        padding-top: 14px;
    }
    
    #subtaskList {
        height: auto;
        max-height: 116px;
        overflow-y: auto;
    }
}

@media (max-width: 576px) {
    .page-header h1 {
        font-size: 50px;
    }

    .main-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        padding-bottom: 164px;
    }

    .footer-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        justify-content: flex-end;
    }
    
    .button-group {
        justify-content: flex-end;
        margin-left: auto;
    }
         
    .priority-buttons button{
        width: 120px;
        height: 41px;
    }
    
    .trigger.urgent.active {
        font-size: 16px;
        font-weight: 700;
    }
    
    .trigger.medium.active {
        font-size: 16px;
        font-weight: 700;
    }
    
    .trigger.low.active {
        font-size: 16px;
        font-weight: 700;
    }

    .form-grid {
        grid-template-columns: 1fr;
        gap: 0;
        padding-right:0;
    }
    
    #subtaskList {
        height: auto;
        max-height: 116px;
        overflow-y: auto;
    }
}

@media (max-width: 405px) {    
    .page-header h1 {
        font-size: 50px;
    }
    
    .main-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        padding-bottom: 124px;
    }

    .footer-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        justify-content: flex-end;
    }
    
    .button-group {
        justify-content: flex-end;
        margin-left: auto;
    }
    
    .priority-buttons button{
        width: 100px;
        height: 41px;
    }
    
    .trigger.urgent.active {
        font-size: 16px;
        font-weight: 700;
    }
    
    .trigger.medium.active {
        font-size: 16px;
        font-weight: 700;
    }
    
    .trigger.low.active {
        font-size: 16px;
        font-weight: 700;
    }
    
    .form-grid {
        grid-template-columns: 1fr;
        gap: 0;
        padding-right: 0;
        margin-bottom:50px;
    }
    
    input {
        height: 36px;
    }
    
    textarea {
        height: 80px;
    }
    
    .dropdown-header {
        height: 36px;
    }
    
    #subtaskList {
        height: auto;
        max-height: 116px;
        overflow-y: auto;
    }
}

@media (max-width: 380px){
    .overlay-content {
        width: 80%;
        max-width: 280px;
        padding: 20px;
        height: 60px;
    }
    
    .overlay-content p {
        font-size: 16px;
    }
    
    .footer-section {
        height: 80px;
    }
    
    #subtaskList {
        height: auto;
        max-height: 120px;
        overflow-y: auto;
    }
}

@media (max-width: 340px) {
    .page-header h1 {
        font-size: 50px;
    }
    
    .main-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        padding-bottom: 124px;
    }
    
    .footer-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 10px;
        justify-content: flex-end;
    }
    
    .button-group {
        justify-content: flex-end;
        gap: 10px;
        margin-left: auto;
    }
    
    .priority-buttons button {
        width: 90px;
        height: 41px;
    }
    
    .trigger.urgent.active {
        font-size: 16px;
        font-weight: 400;
        gap: 4px;
    }
    
    .trigger.medium.active {
        font-size: 16px;
        font-weight: 400;
        gap: 3px;
    }
    
    .trigger.low.active {
        font-size: 16px;
        font-weight: 400;
        gap: 4px;
    }
    
    .form-grid {
        grid-template-columns: 1fr;
        gap: 0;
        padding-right: 0;
    }
    
    .clear-btn {
        font-size: 18px;
        height: 46px;
    }
    
    .create-btn {
        font-size: 16px;
        height: 46px;
        width: 161px;
    }
    
    .footer-container p {
        font-size: 18px; 
    }
    
    #subtaskList {
        height: auto;
        max-height: 116px;
        overflow-y: auto;
    }
}