*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background: #f6f7f8;
    min-width: 320px;
    /* max-width: 1920px; */
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    color: #2A3647;
    margin-bottom: 30px;
}