@media (max-width: 1400px) {
    .main-container {
        padding-left: 340px;
        padding-right: 120px;
    }    
}

@media (max-width: 1250px) {
       .trigger{
        font-size: 16px;
        height: 46px;
    }
    .trigger{
        font-size: 16px;
    }
    .trigger.urgent.active {
        font-weight: 600;
    }
    .trigger.medium.active {
        font-weight: 600;
    }
    .trigger.low.active {
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    .main-container {
        padding-left: 300px;
        padding-right: 100px;
    }

    .form-grid {
        gap: 30px;
    }
    .priority-buttons{
        gap: 5px;
    }
    .trigger.urgent.active {
        font-weight: 600;
    }
    .trigger.medium.active {
        font-weight: 600;
    }
    .trigger.low.active {
        font-weight: 600;
    }
}

@media (max-width: 1150px) {
    .trigger{
        font-size: 16px;
    }
}
@media (max-width: 1100px) {
    .trigger{
        font-size: 16px;
    }
    .trigger.urgent.active {
        font-weight: 400;
    }
    .trigger.medium.active {
        font-weight: 400;
    }
    .trigger.low.active {
        font-weight: 400;
    }
}

@media (max-width: 1080px) {
    .trigger{
        font-size: 16px;
    }
    .trigger.urgent.active {
        font-weight: 200;
    }
    .trigger.medium.active {
        font-weight: 200;
    }
    .trigger.low.active {
        font-weight: 200;
    }
}

@media (max-width: 1040px) {
    .page-header {
        position: fixed;
        top: 96px; 
        left: 0;
        width: 100%;
        height: 120px;
        background: var(--color-bg);
        display: flex;
        align-items: center;
        padding: 0 24px;
        z-index: 200;
    }

    .page-header h1 {
        margin: 0;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 150px;
    }
    .main-container {
        padding-left: 340px;
        padding-right: 100px;
        margin-top:230px;
        padding-bottom: 164px;
    } 

    .trigger{
        font-size: 16px;
        height: 56px;
    }
    .footer-section{
        background: var(--color-bg);
        padding-top: 26px;
    }
    
    .form-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .column-separator {
        display: none;
    }
}

@media (max-width: 965px) {
     
    .button-group {
        margin-left: 0;
        width: 100%;
        justify-content: flex-end;
    }
      .form-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-right: 16px;
    }
}

@media (max-width:850px){
    .main-container {
        padding-left: 16px;
        padding-right: 10px;
        padding-bottom: 164px;
        gap: 16px;
    }

    .footer-section {
        width: 100%;
        left: 0;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        margin-bottom: 60px;
    }

    .button-group {
        justify-content: center;
    }
    
  .page-header {
        position: fixed;
        top: 96px; 
        left: 0;
        width: 100%;
        height: 120px;
        background: var(--color-bg);
        display: flex;
        align-items: center;
        padding: 0 24px;
        z-index: 200;
    }

    .page-header h1 {
        margin: 0;
        font-size: 48px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 159px;
        padding-left: 0px;
    }
      .form-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-right: 10px;
    }
      .footer-section{
        background: var(--color-bg);
        padding-top: 26px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 42px;
    }

    .main-container {
        padding-right: 10px;
        padding-right: 16px;
        gap: 16px;
        padding-bottom: 164px;
    }
    .footer-container {
        padding-left: 16px;
        padding-right: 16px;
        gap: 16px;
        margin-bottom: 60px;
    }
         
    .priority-buttons button{
        width: 120px;
        height: 41px;
    }
    .trigger.urgent.active {
        font-size: 16px;
        font-weight: 700;
    }
    .trigger.medium.active {
        font-size: 16px;
        font-weight: 700;
    }
    .trigger.low.active {
        font-size: 16px;
        font-weight: 700;
    }

      .form-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-right: 10px;
    }
}

@media (max-width: 405px) {
    .page-header {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: 120px;
        background: var(--color-bg);
        display: flex;
        align-items: center;
        padding: 0 24px;
        z-index: 200;
    }
    .page-header h1{
        font-size: 26px;
        padding-top: 180px;
    }
    .main-container {
        padding-right: 10px;
        padding-right: 16px;
        gap: 16px;
        padding-bottom: 200px;
    }
    .footer-container {
        padding-left: 16px;
        padding-right: 10px;
        gap: 16px;
        margin-bottom: 60px;
    } 
    .priority-buttons button{
        width: 100px;
        height: 41px;
    }
    .trigger.urgent.active {
        font-size: 16px;
        font-weight: 700;
    }
    .trigger.medium.active {
        font-size: 16px;
        font-weight: 700;
    }
    .trigger.low.active {
        font-size: 16px;
        font-weight: 700;
    }
      .form-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-right: 10px;
        margin-bottom: 12px;
    }
    input{
        height: 36px;
    }
    textarea{
        height: 80px;
    }
    .dropdown-header{
    height: 36px;
}
}

@media (max-width: 380px){
    .overlay-content {
    width: 80%;
    max-width: 280px;
    padding: 20px;
    height: 60px;
  }
  .overlay-content p {
    font-size: 16px;
  }
  page-header h1{
        font-size: 26px;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 26px;
    }
    .main-container {
      padding-right: 10px;
      gap: 16px;
      padding-bottom: 200px;
    }
    .footer-container {
        padding-left: 16px;
        padding-right: 10px;
        gap: 16px;
    }
    .priority-buttons button{
        width: 90px;
        height: 41px;
    }
    .trigger.urgent.active {
        font-size: 16px;
        font-weight: 400;
        gap: 4px;
    }
    .trigger.medium.active {
        font-size: 16px;
        font-weight: 400;
        gap: 3px;
    }
    .trigger.low.active {
        font-size: 16px;
        font-weight: 400;
        gap: 4px;
    }
      .form-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-right: 10px;
    }
    .clear-btn{
        font-size: 18px;
        height: 46px;
    }
    .create-btn{
        font-size: 16px;
        height: 46px;
    }
    .footer-container p{
        font-size: 18px;
    }
    .page-header h1{
        font-size: 26px;
    }
}