/* Globals & Layout */
* {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    height: calc(100dvh - 96px);
    width: calc(100dvw - 232px);
    margin-left: 232px; 
    margin-top: 96px;   
    background: var(--clolor-bg);
}


/* Slogan Area */
.slogan {
    display: flex;
    align-items: center;
    gap: 30px;
}

.slogan h2 {
    font-size: 61px;
    font-weight: 700;
}

.slogan-span {
    font-size: 27px;
    color: #2A3647;
}

.slogan img {
    height: 59px;
    border-left: 3px solid var(--color-secondary);
}


.slogan-and-card-container {
    display: flex;
    padding: 80px 80px 80px 80px;
    flex-direction: column;
}


/* Scrollbar Styling */
ul::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-thumb {
    background: var(--color-bg-hover);
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: var(--color-bg-hover);
}


/* Buttons */
.add-contact-btn {
    max-width: 354px;
    height: 56px;
    background: #2A3647;
    color: var(--color-white);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
    transition: background 0.2s ease;
    margin-left: 20px;
    z-index: 1000;
}

.add-contact-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Contact List */
.contact-list-style {
    background: var(--color-white);
    box-shadow: 0 0 20px rgba(0,0,0,0.04);
    display: flex;
    flex-direction: column;
}

.contact-row {
    display: flex;
    padding: 15px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.contact-row:hover {
    background: var(--color-bg-hover);
}

.letter-header {
    font-weight: 600;
    font-size: 20px;
    padding: 16px 0 21px 20px;
    border-bottom: 1px solid #D1D1D1;
    margin-top: 16px;
}

#contact-list-content {
    display: flex;
    flex-direction: column;
    max-width: 354px;
    padding-left: 20px;
}

#contact-card-content {
    animation: fadeIn 200ms ease-in-out;
    padding-bottom: 100px
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    overflow-y: auto;
}

/* Contact Card */
#contact-card {
    margin-top: 50px;
    width: fit-content;
    opacity: 0;
    transform: translateX(40px);
    transition: all 250ms ease-in-out;
    border-radius: 20px;
    padding: 32px;
}

#contact-card.show {
    opacity: 1;
    transform: translateX(0);
}

.btn-and-name-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.contact-name {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #000000;
    white-space: nowrap;
}

.edit-and-delete-btn-container {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.action-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    color: #2A3647;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.1s;
}

.action-btn:hover {
    color: #29ABE2;
    font-weight: 700;
    background-color: transparent;
}

.action-btn img {
    width: 16px;
    height: 16px;
}

.action-btn:hover img {
    filter: invert(53%) sepia(80%) saturate(2400%) hue-rotate(166deg) brightness(98%) contrast(85%);
}

.action-divider {
    height: 24px;
    width: 1px;
    background-color: #D1D1D1;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-top: 40px;
    
}

.contact-info-header {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-top: 50px;
}

.contact-info {
    position: relative;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-info span {
    display: flex;
    flex-direction: column;
}

.profile-img {
    position: relative;
    background-image: url('../assets/imgs/Group 13.png');
    background-size: cover;
    margin-top: 60px;
    width: 120px;
    height: 120px;
    opacity: 1;
}


.contact-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contact-list-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.contact-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
}


/* Contact Initials */
.contact-initials {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 70px;
    border-width: 3px;
    border: 3px solid var(--color-white);
    color: var(--color-white);
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
}

.contact-initials-edit {
     position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 70px;
    border-width: 3px;
    border: 3px solid var(--color-white);
    color: var(--color-white);
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
}

.contact-row.active {
    background: #2A3647;
    color: var(--color-white);
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}


.contact-row.active .mail-style {
    color: var(--color-secondary);
}




