* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100dvh;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contentBody {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.displayNone {
    display: none;
}