/* Variables */

:root {
    --sidebar-bg: #2A3647;
    --sidebar-width: 232px;
    --header-height: 96px;
}

/* Base Layout */

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: flex-start;
    background-color: #F6F7F8;
    min-height: 100vh;
    width: 100%;
}

main {
    flex: 1;
    width: 100dvw;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar-logo {
    padding: 0 40px;
    margin-bottom: 114px;
}

.sidebar-logo img {
    width: 100px;
    height: 122px;
}

/* Sidebar Navigation */

.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 15px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #CDCDCD;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    transition: all 0.2s;
}

.sidebar-nav a:hover {
    background-color: #344762;
    color: white;
}

.sidebar-nav a.active {
    background-color: #091931;
    color: white;
}

.sidebar-nav a img {
    margin-right: 15px;
    width: 24px;
}

.guest-nav .nav-item {
    padding-left: 40px;
}

/* Sidebar Footer */

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 40px;
}

.sidebar-footer .nav-link-simple {
    color: #A8A8A8;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
}

.sidebar-footer .nav-link-simple:hover {
    color: #29ABE2;
    font-weight: 700;
}

/* Header */

.header-content {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    height: var(--header-height);
    width: calc(100dvw - var(--sidebar-width));
    background-color: white;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    z-index: 900;
    
}

.content-limitation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: var(--header-height);
    padding-left: 116px;
    padding-right: 50px;
}

.header-title {
    font-size: 20px;
    color: #000000;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help-icon img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.help-icon img:hover {
    transform: scale(1.25, 1.25);
}

/* User Profile Badge */

.user-profile-initials {
    width: 56px;
    height: 56px;
    background-color: white;
    border: 3px solid #29ABE2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29ABE2;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
}

.user-profile-initials:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.user-profile-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Profile Dropdown */

.profile-dropdown {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #2A3647;
    border-radius: 20px 0px 20px 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    z-index: 950;
}

.profile-dropdown a {
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    height: 46px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    white-space: nowrap;
}

.profile-dropdown a:hover {
    background-color: #344762;
    color: white;
}

/* Main Content Area */

.simple-page-content, .content-container {
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height); 
    padding-left: 64px;
    box-sizing: border-box;
    width: calc(100% - var(--sidebar-width));
    max-width: 1440px;
}

/* Responsive: Mobile (max-width: 850px) */
/* .content-container{
    padding-right: 180px;
    padding-left: 1px;
} */
@media(max-width: 850px) {

    /* Sidebar */
    .sidebar {
        display: none;
    }

    /* Header */
    .header-content {
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    }
    
    .content-limitation {
        padding: 0;
    }
    
    .header-title {
        display: none; 
    }

    .header-logo-mobile {
        display: block;
    }

    /* Main Content Area */
    .simple-page-content, .content-container {
        margin-left: 0;
        width: 100%;
        padding: 40px;
        padding-bottom: 100px;
    }
}
