<div class="header-content">
    <div class="content-limitation">
        <div class="header-logo-mobile">
            <img src="../assets/imgs/logo.svg" alt="Join Logo">
        </div>
        <span class="header-title">Kanban Project Management Tool</span>
        <div class="header-icons">
            <a href="../html/help.html" class="help-icon">
                <img src="../assets/imgs/help.svg" alt="Help">
            </a>
            <div class="user-profile-container" onclick="toggleProfileMenu(event)">
                <div class="user-profile-initials">SM</div>
                <div id="profile-dropdown" class="profile-dropdown d-none">
                    <a href="../html/help.html" class="mobile-only">Help</a>
                    <a href="../html/legal_notice.html">Legal Notice</a>
                    <a href="../html/privacy_policy.html">Privacy Policy</a>
                    <a href="#" onclick="logout()">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
