<div class="header-content">
    <span class="header-title">Kanban Project Management Tool</span>
    <div class="header-icons">
        <a href="../html/help.html" class="help-icon">
            <img src="../assets/imgs/help.svg" alt="Help">
        </a>
        <div class="user-profile-container" onclick="toggleProfileMenu(event)">
            <div class="user-profile-initials">SM</div>
            <div id="profile-dropdown" class="profile-dropdown d-none">
                <a href="../html/legal_notice.html">Legal Notice</a>
                <a href="../html/privacy_policy.html">Privacy Policy</a>
                <a href="#" onclick="logout()">Log out</a>
            </div>
        </div>
    </div>
</div>
