<div class="sidebar">
    <div class="sidebar-logo">
        <img src="../assets/imgs/logo_white.svg" alt="Join Logo">
    </div>

    <nav class="sidebar-nav guest-nav">
       <a href="../index.html" class="nav-item">
            <img src="../assets/imgs/login.svg" alt="Log In">
            <span>Log In</span>
       </a>
    </nav>

    <div class="sidebar-footer">
        <a href="privacy_policy.html" class="nav-link-simple">Privacy Policy</a>
        <a href="legal_notice.html" class="nav-link-simple">Legal notice</a>
    </div>
</div>
